---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hux - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/avatar.png">
				<h1>曾沙</h1>
				<p>狮子座，产品型设计师，猴妈（因设计过一只可爱的猴子）<br>
				现就职 Coding.net，设计师兼产品经理。</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Logo @Coding</h2>
							<time>2014.03</time>
							<img src="images/coding-logo.png">
							<ul>
								<li>
									这是一个云端开发服务的网站，主要对象是开发者，也就是我们经常说的程序猿，用可爱的小猴子来代表这一群人显得很贴切。现在这个造型也是在手绘过程中碰撞出来的，是不是很像一个洋葱头？现在我们会叫这只小猴子为“萌萌哒洋葱猴”。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-screen"></span>
									<span><b>Logo</b></span>
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="https://coding.net/">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Logo @Coding 码市</h2>
							<time>2015.07</time>
							<img src="images/codemart-logo.png">
							<ul>
								<li>
									码市从字面可以理解为代码市场，这是一个众包开发的平台，logo 应该融入代码相关的元素，于是选取了代码的图标；码市也是 Coding 旗下的一个子产品，猴子的形象已经深入人心，暂时不考虑其他图形元素来表现 logo，所以主要在“码市”文字上做文章，且logo 风格应该符合 Coding 整体风格，故运用了其文字 logo 中的一些元素。
								</li>
								<li class="skill">
									<span class="cbp_tmicon-screen"></span>
									<span><b>Logo</b></span>
									<span class="i-react"></span>
									<span class="link"><a target="_blank" href="https://coding.net/">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
